/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');



/* VARIABLES CSS */
:root {
    --header-height: 3rem;
    /* Colors */
    --hue-color: 195;
    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 65%, 61%);
    --first-color-second: hsl(var(--hue-color), 65%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --title-color-light: hsl(var(--hue-color), 8%, 45%);
    --input-color: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF

    /* GOOGLE FONTS */
}